<!DOCTYPE html>

  <html>

    <head profile="https://www.w3.org/2005/10/profile">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../static/home.css">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

      <title> Car Crash Analyzer </title>

    </head>

    <body>

        <div class = "col-xs-5 col-sm-3 col-md-2"></div>

        <div class= "col-sm-7 col-sm-9 col-md-10" style = "text-align:center">

          <h2> Car Crash Data Analyzer </h2>

        </div>

      </div>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#model">Model Year</a>
        <a href="#brand">Brand</a>
        <a href="#primary">Primary Cause</a>
        <a href="#second">Secondary Cause</a>
        <a href="#human">Human vs. Environmental</a>
        <a href="#weather">Weather Related</a>
        <a href="#type">Type of Car</a>
      </div>

        <div id="main">

          <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="navbutt">&#9776; Menu</span>

          <h4> Analysis of Car Crash Incidents from 2002 to 2012 </h4>

          <div class="parallax"></div>



        <!-- <nav class="nav flex-column col-xs-5 col-sm-3 col-md-2" style = "background-color:#F2D8D8;">

          Data by:
          <a class="nav-link" href="#">Model Year</a>
          <a class="nav-link" href="#">Brand</a>
          <a class="nav-link" href="#">Primary Cause</a>
          <a class="nav-link" href="#">Secondary Cause</a>
          <a class="nav-link" href="#">Human vs. Environmental</a>
          <a class="nav-link" href="#">Weather Related</a>
          <a class="nav-link" href="#">Type of Car</a>
        </nav> -->

        <div class= "col-sm-7 col-sm-9 col-md-10">

          <br>

          {%block alerts%} {%endblock%}

          <br>

          <div class = "row" id = "home">

          {%block body%}

          {%endblock%}

        </div>

        <div class="col-sm-1 col-lg-2"></div>

      </div>



        <div class ="col"></div>


        <div class="footer"> &copy; Copyright DETERMINANTS </div>



        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="../static/data.js"></script>
        <script src = "../static/home.js"></script>

    </body>

  </html>
